name: Deploy finances frontend

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    env:
      BACKEND_URL: ${{ secrets.BACKEND_URL }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Stop existing containers
        run: docker compose -f deployment/docker-compose.yml down

      - name: Build and deploy containers
        run: docker compose -f deployment/docker-compose.yml up -d --build
